body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
.blue-part{
    background-color: #1f2937;
    padding: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.header{
    display: flex;
    align-items: center;
}
.header-logo{
    max-width:200px;
    max-height: auto;
}
ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 20px;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
.content-container{
    display: flex;
    align-items: center;
}
.content-container .content{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
    min-width: 330px;
}
.content-container .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content-container .image{
    max-width: 400px;
}
.content-container .button{
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    border-radius: 10%;
    color: #f9faf8;
    font-weight: 500;
    font-size: 16px;
}
.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.second-part .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.photo-gallery{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.second-part .image{
    height: 200px;
    border:5px solid #3882f6 ;
    border-radius: 20%;
}
.text{
    text-align: center;
}